


/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}


body {

    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
	color:#ffcc62;
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}


/* Custom Button Styles */

.btn-dark {
    color: #fff;
    border: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, .4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
}

.btn-light {
    color: #333;
    border: none;
    border-radius: 0;
    background-color: rgb(255, 255, 255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255, 255, 255, .8);
}


/* Custom Horizontal Rule */

hr.small {
    max-width: 200px;
}

#mainNav {
  background-color: #222 }
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #fed136;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
  #mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive; }
    #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #fec503; }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;

 );
}
 }
    #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #fed136; }

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent; }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important; }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #222222; }
      #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0; } }

/* Header */

.header {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header h3 {font-family: 'Montserrat', sans-serif;}


/* About */

.about {
    padding: 50px 0;
}


/* Services */

.services {
  font-family: 'Montserrat', sans-serif;
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}


/* Team */



.team {
  padding: 2%;

    width: 100%;
    height: 40em;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;

}



@media (max-width: 1199px){
#team .container{
display:none;}

}



@media (min-width: 1199px){
#carousel{display: none;}}

.team img{
  max-width: 200px;
  border: 2px solid;

}
.worker h2 {
  font-family: 'Montserrat', sans-serif;
}

  .worker  {
margin-left: 6%;
margin-top : 2%;}

.team p {
  color: #f1f1f1;
  font-size: 16px;
  font-family: 'Indie Flower', cursive;
  }





 #carousel {

   height: 100%;

    display: relative;
  }
  #carousel img {
    display: hidden;
    cursor: pointer;
  }




/* Portfolio */

.portfolio {
  font-family: 'Montserrat', sans-serif;
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: .8;
}


/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}


/* Contact*/

#contact {
  font-family: 'Montserrat', sans-serif;
  margin-top: 4%;
}
#contact h3 {
  margin-bottom: 5%;
}

#message{
  padding-bottom: 28%;
}

 #contact button{
   margin-top: 2%;
 }


@media (max-width: 992px){
  #contact {
    margin-top: 20%;
  }
  #contact h3 {
    margin-bottom: 15%;
  }
  }
#contact h2{
    margin-bottom: 10%;
  }
  #contact button{
    margin-top: 6%;
  }




/* Footer */

footer {
  font-family: 'Montserrat', sans-serif;
    padding: 50px 0;
}
#to-top {
    font-size: 1em;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    padding: 15px 20px;
}
.text-vertical-center h3{
  color: white;
}

#services h2{color:#ffcc62;}
h4{color:#ffcc62;}
a{color:#ffcc62;}
